<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!--         <p th:text="${session.nameSession}" th:unless="${session == null}">[...]</p> -->

	<p th:text="'Hello, ' + ${session.nameSession} + '(Admin)'"
		th:unless="${session == null}">[...]</p>
	<p th:text="${added}" style="color: red;" />
	<form action="AddProduct" method="post">
		<input type="submit" value="Add Product">
	</form>
	<form action="AddBrand" method="post">
		<input type="submit" value="Add Brand">
	</form>
	<h3>Waiting To accept Stores</h3>
	<table>
		<tbody th:each="StoresInUser1 : ${StoresInUser}">
			<tr>
				<td>StoreName :</td>
				<td><a href="#" th:text="${StoresInUser1.storeName}"></a>
					&nbsp;</td>
				<td><a th:href="@{'greetingAdmin/' + ${StoresInUser1.storeId}}">Accept</a></td>
			</tr>
			<tr>
				<td>StoreOwnerId :</td>
				<td th:text="${StoresInUser1.storeOwner}">&nbsp;</td>
			</tr>

		</tbody>
</body>
</html>