<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--     <p th:text="'Hello, ' + ${name} + '!'" /> -->
    
     <form action="#" th:action="@{/greetingLogin}" th:object="${user}" method="post">
       <table>
        <tr>
          <td>UserName : </td>
          <td><p><input type="text" th:field="*{userName}" /></p></td>
          <td><p th:text="${Warrning}" style = "color :red;"></td>
        </tr>
        <tr>
          <td>Password : </td>
          <td><p><input type="password" th:field="*{password}" /></p></td>
        </tr>
        <tr>
        	<td><input type="submit" value="Submit"></td>
        </tr>
      </table>
      
</body>
</html>