<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" type="text/css" href="../../css/TableDesign.css">
    <link rel="stylesheet" type="text/css" href="../../css/header.css">
</head>
<body>
<!--     <p th:text="'Hello, ' + ${name} + '!'" /> -->
<div class="header">
  <a href="#" class="logo normal">HNS</a>
  <div class="header-right">
    <a class = "active" th:text="${session.nameSession}"  href="#"></a>
  </div>
</div> 
    <table id = "TableCss">
  <tbody>
  <tr>
  <th>Product Name</th>
  <th>Available product</th>
  <th>Price</th>
  <th>Discount</th>
  <th>Buy</th>
  </tr>
    <tr th:each="ProductsInSystem : ${products}">
     <td><p th:text="${ProductsInSystem.getPrdouctName()}" /></td> 
     <td><p th:text = "${ProductsInSystem.getProductCount()}+'   '"/></td>
     <td><p th:text = "${ProductsInSystem.getProductPrice()}+'   '"/></td>
     <td><p th:text = "${ProductsInSystem.getNumberOfBuyers()}+'%   '"/></td>
      <td><a th:href ="@{'/User/Buy/'+${ProductsInSystem.getProductId()}}" th:text="Buy"></a> &nbsp;</td>
    </tr>
  </tbody>
</table>
</body>
</html>